.card-ctnr {
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #7a98e5, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebfffc;
  font-family: "Outfit", sans-serif;
  max-height: 700px;

  .search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 2rem;
    input {
      height: 50px;
      border: none;
      outline: none;
      border-radius: 40px;
      padding-left: 25px;
      color: #626262;
      background: #ebfffc;
      font-size: 18px;
    }

    img {
      width: 50px;
      padding: 15px;
      border-radius: 50%;
      background: #ebfffc;
      cursor: pointer;
    }
  }

  .error {
    color: rgb(241, 19, 19);
  }
  .weather-data-ctnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

    .weather-icon {
      height: 200px;
      width: auto;
    }
    .temperature {
      font-size: 80px;
      line-height: 1;
      color: #fff;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    .location {
      font-size: 40px;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }

    .weather-other-specs {
      display: flex;
      justify-content: space-between;
      color: #fff;
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        font-size: 22px;
        text-align: center;
        img {
          margin-top: 1.2rem;
          width: 36px;
        }

        p {
          margin-bottom: 0.5rem;
        }

        span {
          font-size: smaller;
        }
      }
    }
  }
}
