.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: #352f2f;
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(244 248 61);
  font-family: "Sriracha", serif;

  .navbar-left {
    .navbar-title {
      font-family: "Sriracha", serif;
      font-style: normal;
      font-size: 33px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      text-decoration: none;
      color: inherit;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .navbar-btn {
      font-family: "Sriracha", serif;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 20px;
      font-size: 1rem;
      height: 40px;
      border: none;
      gap: 8px;
      text-transform: lowercase;
      background-color: transparent;
      font-weight: 600;
      &:hover {
        opacity: 0.8;
      }
      svg {
        width: 28px;
        height: 28px;
      }
    }

    .info-overlay {
      display: block;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      box-sizing: border-box;
      z-index: 10;
    }

    .info-dropdown {
      position: absolute;
      top: 62px;
      right: 0;
      border: 1px solid #ddd;
      background-color: #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      width: 200px;
      padding: 10px;
      z-index: 11;
      opacity: 1;
      font-size: smaller;

      .info-item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
// Responsive design

// Big monitor
@media screen and (min-width: 1440px) {
  .navbar .navbar-right .navbar-btn {
    font-size: 1.1rem;
    padding: 1.2rem;
  }
}

// small screens
@media screen and (max-width: 1248px) {
  .navbar .navbar-right .navbar-btn {
    font-size: 0.8rem;
    padding: 8px 12px;
  }
}
