* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: auto;
  background-image: linear-gradient(
      rgba(241, 222, 199, 0.6),
      rgba(244, 230, 215, 0.6)
    ),
    url("./assets/brickwall-bg.jpg");
  background-repeat: repeat;
}

.app {
  padding: 50px;
  min-height: 100vh;
}

h1 {
  color: rgb(45, 234, 11);
  span {
    display: block;
    color: darken(white, 20%);
    font-size: 14px;
    font-style: italic;
    height: 14px;
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  width: 360px;

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid lightgrey;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    outline: none;
  }

  button {
    width: 100%;
    background-color: #fff27f;
    cursor: pointer;
    padding: 10px;
    border: 0;
    outline: none;
    &:hover {
      background-color: tomato;
      color: white;
    }
  }
}

.note {
  position: absolute;
  cursor: pointer;
  background-image: url("./assets/post-it-note.png");
  background-size: cover;
  top: 100px;
  left: 450px;
  height: 250px;
  width: 250px;
  padding: 20px;

  .text {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: scroll;
  }

  .control-btns-wrapper {
    position: absolute;
    right: 15px;
  }
  .close-btn {
    right: 1px;
    position: absolute;
    width: 1.3rem;
    top: 12px;
    height: 1.3rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }

  .edit-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 15px;
    right: 5px;
    transition: transform 0.3s ease;
  }
}
