.drawer {
  padding: 40px;
  scroll-behavior: smooth;
  overflow-y: auto;
  z-index: 3;
}

.archived-ctnr {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  margin-top: 4rem;
  width: 450px;

  .archived-postit {
    width: 300px;
    aspect-ratio: 1 / 1;
    background-color: rgb(242, 242, 194);
    padding: 15px 10px;
    display: grid;
    text-align: center;
    position: relative;
    .archived-close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
