.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: #352f2f;
  position: sticky;
  top: 0;
  z-index: 1;

  .navbar-left {
    .navbar-title {
      font-family: "Sriracha", serif;
      font-style: normal;
      font-size: 33px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;

    button:nth-child(1) {
      background-color: #402be3;
    }
    button:nth-child(2) {
      background-color: #a73737;
    }
    button:nth-child(3) {
      background-color: #b1afaf;
    }
    .navbar-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 1rem;
      background: #352f2f;
      border-radius: 20px;
      height: 40px;
      border: none;
      color: white;
      gap: 8px;
      text-transform: lowercase;

      &:hover {
        opacity: 0.8;
      }
      svg {
        width: 28px;
        height: 28px;
      }
    }

    .info-overlay {
      display: block;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      box-sizing: border-box;
      z-index: 10;
    }

    .info-dropdown {
      position: absolute;
      top: 62px;
      right: 0;
      border: 1px solid #ddd;
      background-color: #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      width: 200px;
      padding: 10px;
      z-index: 11;
      opacity: 1;
      font-size: smaller;

      .info-item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
